<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="On" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDirectory" value="logs${shortdate}"/>
  <variable name="CurtailmentPath" value="Logs/Curtailment/Curtailment.csv"/>
  <variable name="ErrorPath" value="Logs/Error/ArticunoErrorLog.txt"/>
  <variable name="TracePath" value="Logs/General/Articuno.txt"/>
  <variable name="DataPath" value="Logs/Data/ArticunoData.txt"/>

  <variable name="archiveNumbering" value="Rolling"/>

  <!--The FileSizeLimit is in bytes -->
  <variable name="FileSizeLimit" value="40000000"/>
  <variable name="maxFiles" value="15"/>
  <variable name="compression" value="true"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target
       name="Error"
       xsi:type="File"
       fileName="${ErrorPath}"
       createDirs="true"
       archiveAboveSize="${FileSizeLimit}"
       archiveNumbering="${archiveNumbering}"
       maxArchiveFiles="${maxFiles}"
       enableArchiveFileCompression="${compression}"
       footer="-------------------------"
       >

      <!--
      <layout type="CompoundLayout">
        <layout type="SimpleLayout" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        <layout type="SimpleLayout" layout="${callsite:includeNameSpace=false}"/>
        <layout type="SimpleLayout" layout="${st5acktrace:format=Flat}"/>
      </layout>
      -->
    </target>

    <target
      name="General"
      xsi:type="File"
      fileName="${TracePath}"
      createDirs="true"
      archiveAboveSize="${FileSizeLimit}"
      archiveNumbering="${archiveNumbering}"
      maxArchiveFiles="${maxFiles}"
      enableArchiveFileCompression="${compression}"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
      />

    <!-- Console Display-->
    <target xsi:type="ColoredConsole" name="Console"
            useDefaultRowHighlightingRules="true"
      />

    <!--Curtailment (csv)-->
    <target
      xsi:type="File"
      name="Curtailment"
      fileName="${CurtailmentPath}"
      createDirs="true"
      archiveAboveSize="${FileSizeLimit}"
      archiveNumbering="${archiveNumbering}"
      maxArchiveFiles="${maxFiles}"
      enableArchiveFileCompression="${compression}"
      >
      <layout xsi:type="CsvLayout" delimiter ="Comma" withHeader="true">
        <delimiter>Comma</delimiter>
        <column name="time" layout="${longdate}"/>
        <column name="Message" layout="${message}"/>

        <!--For curtialment, you do NOT want structured logging. Instead, use WithProperty. See the link below for more details -->
        <!--https://github.com/NLog/NLog/wiki/EventProperties-Layout-Renderer#example-->

        <!--For any logging, you'll be passing in the object as a property named ${prop -->
        <column name="Bio active" layout="${event-properties:item=prop:objectPath=active}"/>
        <column name="Temp (10 min avg)" layout="${event-properties:item=prop:objectPath=tempAvg}"/>
        <column name="WindSpd (10 min avg)" layout="${event-properties:item=prop:objectPath=windAvg}"/>
        <column name="Turbines Paused" layout="${event-properties:item=prop:objectPath=turbPaused}"/>
        <column name="Turbines Couldn't Pause" layout="${event-properties:item=prop:objectPath=turbUnableToPause}"/>
        <column name="Turbines AGC Blocked" layout="${event-properties:item=prop:objectPath=turbAgcBlocked}"/>

        <column name="Met Tower Wd Spd Queue" layout="${event-properties:item=prop:objectPath=MetWdSpdQueue}"/>
        <column name="Met Tower Temperature  Queue" layout="${event-properties:item=prop:objectPath=MetTemperatureQueue}"/>

        <column name="Backup Turb Wd Spd Queue" layout="${event-properties:item=prop:objectPath=backupTurbineWdSpdQueue}"/>
        <column name="Backup Turb Temperature  Queue" layout="${event-properties:item=prop:objectPath=backupTurbineTempQueue}"/>

        <column name="Curtail Wind Speed Threshold" layout="${event-properties:item=prop:objectPath=windSpeedCurtailThreshold }"/>
        <column name="Opearting Wind Speed Threshold" layout="${event-properties:item=prop:objectPath=windSpeedOperatingThreshold }"/>
        <column name="Is Using Temperature?" layout="${event-properties:item=prop:objectPath=usingTemperature }"/>
        <column name="Termperature Threshold" layout="${event-properties:item=prop:objectPath=temperatureThreshold}"/>
        <column name="Pariticpating Met Tower" layout="${event-properties:item=prop:objectPath=participatingmet}"/>

      </layout>
    </target>

    <!--Data (csv)-->
    <target
      xsi:type="File"
      name="Data"
      fileName="${DataPath}"
      createDirs="true"
      archiveAboveSize="${FileSizeLimit}"
      archiveNumbering="${archiveNumbering}"
      maxArchiveFiles="${maxFiles}"
      enableArchiveFileCompression="${compression}"
      >
    </target>


    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type ="" type ="ColoredConsole"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <logger name="*" writeTo="Console"/>
    <logger name="*" minlevel="Error" writeTo="Error"/>
    <logger name="General" writeTo="General"/>
    <logger name="Curtailment" writeTo="Curtailment"/>
    <logger name="Data" minlevel="Trace" writeTo="Data">
    </logger>

  </rules>
</nlog>

